<div class="mt-4">
    <h3 class="text-capitalize mb-4">đăng khóa học</h3>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khóa học:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên khóa học">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả:</label>
            <textarea  placeholder="Nhập mô tả" class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Id video:</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Mức độ:</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>